{
    "presets": ["latest"],
    "plugins": ["transform-vue-jsx", "transform-object-rest-spread", ["component", [
        {
            "libraryName": "element-ui",
            "styleLibraryName": "theme-default"
        }
    ]]]
}